@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
body {
    font-family: 'News Cycle';
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
}

.custom-item {
    list-style-image: url('assets/flower-icon.svg');
}

.no-item {
    list-style-type: none;
}

.titulo {
    background-color: #f4f5f5;
    color: rgb(182, 185, 9);
    text-transform: uppercase;
}

span,
li i {
    font-weight: bold;
}


/* Estilo del pie de pagina y encabezado ----------------------*/

footer {
    background-color: #ffde59;
    font-size: 120%;
    margin-top: 10%;
    font-weight: bold;
    text-transform: uppercase;
}

footer>* {
    margin-right: 2%;
}

header {
    margin-bottom: 10%;
    background-image: url(assets/mediocre-mel.gif);
    background-repeat: repeat;
}

header img {
    width: 350px;
}

header,
footer {
    text-align: center;
}

.github {
    width: 28px;
    height: auto;
}

.about {
    background-color: #fde069;
    display: flex;
    width: 110px;
    border-radius: 10%;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration-line: none;
}


/* Estilo de las tablas ---------------------------------------*/

.container {
    width: 100%;
    display: table;
    margin-left: 2%;
}

.row {
    display: table-row
}

.row-cell {
    width: 9%;
    display: table-cell
}

.cell {
    display: table-cell
}